.layout {
  height: 100vh;
  display: -webkit-flex;
  flex-direction: column;
}

.layout-children {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .layout-children {
    max-width: 1030px;
  }
}
