.my-equip-rooms {
  display: flex;
  flex-direction: column 1fr;
  padding: 100px;
  padding-top: 80px;
  justify-content: center;
}

.room-title {
  color: #42593e;
  font-size: 2vw;
  letter-spacing: 0.25vw;
  padding: 0.5vw;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.room-stats {
  font-size: 1vw;
  padding: 0.5vw;
  letter-spacing: 0.1vw;
  font-family: "Barlow";
}

.room-items {
  font-size: 1vw;
  padding: 0.5vw;
  letter-spacing: 0.1vw;
  font-family: "Barlow";
}

.equip-rooms-img {
  width: 30%;
  height: auto;
  padding: 0 0.5vw;
}
