.password-component-container {
  padding-right: 4%;
}

.password-title {
  color: #000000;
  text-align: left;
  font-family: "Oxygen", sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding-left: 5%;
}

.password-container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  margin-top: 10px;
  margin-bottom: 5%;
}

.new-password {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 800;
  /* margin-right: 10%; */
}

.confirm-new-password {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 800;
  /* margin-right: 4%; */
}

.password-input {
  border-radius: 0%;
  border: 1px solid lightgrey;
  border-top: 2px solid grey;
  margin: 0 auto;
  padding: 10px 45px 10px 45px;
  border-bottom: none;
}

.confirm-password-input {
  border-radius: 0%;
  border: 1px solid lightgrey;
  border-top: 2px solid grey;
  margin: 0 auto;
  padding: 10px 45px 10px 45px;
  border-bottom: none;
}
