.comparison {
  columns: 300px 2;
}

.comparison-detail {
  font-size: 1vw;
  font-family: "Oxygen", sans-serif;
}

.checks {
  width: 1.5vw;
  margin-left: 2%;
}

.compare-image {
  width: 10vw;
}

.compare-next {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40%;
}

.similar-leftdiv {
  border-right: 1px solid black;
}

@media screen and (max-width: 716px) {
  .comparison {
    columns: 150px;
    padding-bottom: 15vw;
  }

  #similar-items-title {
    font-size: 5.5vw;
    text-align: left;
  }

  #product-comparison-title {
    font-size: small;
    padding-top: 10vw;
    padding-bottom: 5vw;
    text-align: left;
  }

  .similar-leftdiv,
  .similar-rightdiv {
    padding: 0;
    margin: 0 auto;
  }

  .compare-image {
    width: 25vw;
  }

  .comparison-detail {
    font-size: 2vw;
    text-align: right;
  }

  .checks {
    width: 3vw;
  }

  .compare-next {
    margin-right: 5vw;
    margin-left: 0;
  }
}
