@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap"); /* logo */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap"); /* header */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap"); /* paragraph */

.App {
  text-align: center;
}

.general-hr {
  border: 2px solid black;
  background-color: black;
  width: 90%;
}

.basic-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #42593e;
  border: 0;
  width: 200px;
  height: 30px;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 30px auto;
}

.basic-button:hover {
  background-color: #ff5c00;
}

@media screen and (max-width: 500px) {
  .basic-button {
    font-size: 12px;
    width: 150px;
    height: 30px;
  }
}
