.myequip-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.myequipment-image-solar {
  height: 15%;
  width: 15%;
  margin-right: 5%;
}
.myequipment-image-plug {
  height: 15%;
  width: 15%;
  margin-right: 5%;
}
.myequipment-image-light {
  height: 15%;
  width: 15%;
  margin-right: 5%;
}

.myequip-items > a {
  width: 15%;
  height: 15%;
}

.myequipment-image-add {
  height: 100%;
  width: 100%;
}

.seemore-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #42593e;
  border: 0;
  width: 200px;
  height: 40px;
  -webkit-appearance: none;
  margin: 30px auto;
}

.seemore-button:hover {
  color: #ff5c00;
}

@media screen and (max-width: 500px) {
  .wishlist > h2 {
    text-align: center;
  }
  .seemore-button {
    font-size: 12px;
    width: 150px;
    height: 30px;
  }
}
