.verified-container {
  display: flex;
  flex-direction: column;
  
}

.verified-title {
  font-weight: 800;
}

.verified-name {
  display: flex;
  margin-left: 5%;
  
}

.verified-email {
  display: flex;
  margin-left: 5%;
  margin-top: 2%;
  
  
}

.verified-password {
  display: flex;
  margin-left: 5%;
  margin-top: 2%;
}

.verified-content {
  display: flex;
  margin: 0 auto;
  padding-right: 70px;
}

.verification-edit {
  display: flex;
  text-decoration: underline;
  color: #FF5C00;
  justify-content: flex-end;
  margin-right: 5%;
}

@media screen and (max-width: 500px) {
  .verified-content {
    display: flex;
    margin: 0 auto;
    padding-right: 0px;
  }
}