.verified-container {
  display: flex;
  width: 87%;
  flex-direction: column;
  margin: 0 auto;
}

.verified-title {
  font-weight: 800;
  margin-bottom: 20px;
}

.verified-name {
  display: flex;
  margin-top: 20px;
}

.verified-email {
  display: flex;
}

.verified-password {
  display: flex;
}

.verified-content {
  display: flex;
  justify-content: center;
  padding-left: 30%;
}
#account-name {
  margin-left: 33px;
}
#account-email {
  margin-left: 36px;
}
.verification-edit {
  display: flex;
  text-decoration: underline;
  color: #ff5c00;
  justify-content: flex-end;
  margin-right: 5%;
}

@media screen and (max-width: 500px) {
  .verified-content {
    padding-left: 15%;
  }
}
