.article-edit {
  display: flex;
  padding: 10%;
  padding-top: 7%;
  display: flex;
  line-height: 1.6;
}

.edit-article-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-label {
  font-family: "Oxygen", sans-serif;
  margin: 5px;
  font-size: 15px;
}

.edit-input {
  width: 70%;
  font-family: "Oxygen", sans-serif;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.article-save-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #42593e;
  border: 0;
  width: 200px;
  height: 40px;
  -webkit-appearance: none;
  margin: 30px auto;
}

.edit-textarea-description {
  margin: 10px auto;
  width: 66%;
  height: auto;
  font-family: "Oxygen", sans-serif;
  padding: 2%;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.9px;
}

@media only screen and (max-width: 500px) {
  .edit-input {
    width: 100%;
  }
  .edit-textarea-description {
    margin: 10px auto;
    width: 96%;
    height: auto;
    font-family: "Oxygen", sans-serif;
    padding: 2%;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.9px;
  }
}
