.article-detail {
  display: flex;
  flex-direction: column;
  padding: 100px;
  padding-top: 80px;
}

.detail {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.detail-title {
  font-size: 3vw;
  letter-spacing: 0.25vw;
  padding: 0.5vw;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.detail-content {
  padding: 0.5vw;
  letter-spacing: 0.1vw;
  font-family: "Barlow";
}

.article-detail-image {
  width: 100%;
  height: auto;
  padding: 0 0.5vw;
}

.edit-button,
.delete-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #42593e;
  border: 0;
  width: 200px;
  height: 40px;
  -webkit-appearance: none;
  margin: 30px auto;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #ff5c00;
}

.edit-link,
.delete-link {
  color: white;
  text-decoration: none;
  padding: 2vw;
}

@media only screen and (max-width: 800px) {
  .article-detail {
    display: flex;
    flex-direction: column;
  }

  .article-detail-image {
    margin: auto;
    margin-bottom: 1vw;
    width: 80%;
    height: 80%;
    padding: 1vw;
  }
}

/* mobile? */
@media only screen and (max-width: 375px) {
  .article-detail {
    font-size: smaller;
  }

  .article-detail-image {
    justify-content: center;
  }

  .edit-button,
  .delete-button {
    font-size: 12px;
    color: #ffffff;
    background-color: #42593e;
    border: 0;
    width: 100px;
    height: 20px;
    -webkit-appearance: none;
    margin: 30px auto;
    margin-top: 10vh;
  }

  .detail-title {
    text-align: center;
  }

  .detail-content {
    width: 50vw;
    text-align: center;
  }
}
