.article-detail {
  display: flex;
  padding: 100px;
  padding-top: 80px;
}

.detail {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.detail-title {
  font-size: 3vw;
  letter-spacing: 0.25vw;
  padding: 0.5vw;
}

.detail-content {
  padding: 0.5vw;
  letter-spacing: 0.15vw;
}

.article-detail-image {
  width: 25vw;
  height: 25vw;
  padding: 0 0.5vw;
}

.edit-button,
.delete-button {
  font-size: 2vw;
  font-family: "Oxygen";
  text-align: center;
  height: 40px;
  min-width: 150px;
  width: 20%;
  align-self: center;
  margin-top: 40px;
  background-color: #42593e;
  color: white;
  border: none;
  margin: 5px;
  display: block;
  text-decoration: none;
}

.edit-link,
.delete-link {
  color: white;
}
