.article-detail {
  display: flex;
  flex-direction: column;
  padding: 100px;
  padding-top: 80px;
}

.detail {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.detail-title {
  font-size: 3vw;
  letter-spacing: 0.25vw;
  padding: 0.5vw;
}

.detail-content {
  padding: 0.5vw;
  letter-spacing: 0.1vw;
}

.article-detail-image {
  width: 100%;
  height: auto;
  padding: 0 0.5vw;
}
.edit-button,
.delete-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #42593e;
  border: 0;
  width: 200px;
  height: 40px;
  -webkit-appearance: none;
  margin: 30px auto;
}

.edit-link,
.delete-link {
  color: white;
  text-decoration: none;
  padding: 2vw;
}

/* 
.edit-button,
.delete-button {
  font-size: 2vw;
  font-family: "Oxygen";
  text-align: center;
  height: 2.5vw;
  min-width: 5vw;
  width: 20%;
  align-self: center;
  background-color: #42593e;
  color: white;
  border: none;
  margin: 1vw;
  display: block;
} */

@media only screen and (max-width: 800px) {
  .article-detail {
    display: flex;
    flex-direction: column;
  }

  .article-detail-image {
    margin: auto;
    margin-bottom: 1vw;
    width: 80%;
    height: 80%;
    padding: 1vw;
  }
}

/* mobile? */
@media only screen and (max-width: 400px) {
  .article-detail {
    display: flex;
    flex-direction: column;
  }

  .article-detail-image {
    margin: auto;
    margin-bottom: 1vw;
    width: 80%;
    height: 80%;
    padding: 1vw;
  }
}
