.create-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 25px auto;
  height: 100%;
  width: 50%;
}
.create-title:focus,
.create-author:focus,
.create-image:focus,
select:focus {
  outline: none;
}

.create-title {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  text-align: center;
  color: #42593e;
  margin-bottom: 10px;
}
.create-title::placeholder {
  color: gray;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  text-align: center;
}

.create-image {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  text-align: center;
  color: #42593e;
  margin-bottom: 10px;
}
.create-image::placeholder {
  color: gray;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.create-textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  color: #42593e;
  margin-bottom: 10px;
}
.create-textarea::placeholder {
  color: gray;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 50px;
}

.create-author {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  height: 75px;
  text-align: center;
  color: #42593e;
  margin-bottom: 10px;
}

.create-author::placeholder {
  color: gray;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  height: 75px;
  text-align: center;
}

.create-submit-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #42593e;
  border: 0;
  margin: 0 auto;
  width: 50%;
  height: 40px;
  -webkit-appearance: none;
}

@media screen and (width: 375px) {
  .create-form {
    width: 100%;
    padding-top: 0;
  }
  .create-title,
  .create-author,
  .create-image,
  .create-textarea {
    border-left: none;
    border-right: none;
    margin-top: 5px;
  }
}
