.footer-container {
  background-color: #42593e;
  width: 100vw;
  height: 40vh;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;

}

.footer-logo {
  color: #ffffff;
  font-size: 30px;
  font-family: "Noto Serif";
  margin-bottom: 20px;
}

.contact-links {
  color: #ffffff;
  font-size: 12px;
  font-family: "Oxygen";
  margin-top: 40px;
}

.left-container {
  margin-left: 10%;
  margin-top: 1%;
  text-align: left;
}

.aboutUs-div {
  color: #ffffff;
  font-size: 16px;
  margin-right: 10%;
  margin-top: 20px;
  text-align: left;
  font-family: "Oxygen";
}

.language {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
}

.down-arrow {
  float: right;
}

.pinterest {
  margin-left: -20px;
}

.instagram {
  margin-right: 20px;
}
.twitter {
  margin-right: 20px;
}
.facebook {
  margin-right: 20px;
}

@media screen and (max-width: 750px) {
.pinterest {
  width: 45px;
  height: 30px;
  margin-left: -10px;
}
.instagram {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.twitter {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.facebook {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.linkedin {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.aboutUs-div {
  font-size: 12px;
}

.footer-logo {
  font-size: 26px;
}

.contact-links {
  font-size: 10px;
  margin-top: 30px;
}

.left-container {
  margin-top: 20px;
  text-align: left;
}

.language {
  font-size: 14px;
}

}