.footer-container {
  background-color: #42593e;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100vw;
  height: 40vh;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;

}

.footer-logo {
  color: #ffffff;
  font-size: 30px;
  font-family: "Noto Serif";
  margin-bottom: 20px;
}

.contact-links {
  color: #ffffff;
  font-size: 12px;
  font-family: "Oxygen";
  margin-top: 40px;
}

.left-container {
  margin-left: 100px;
  margin-top: 40px;
  text-align: left;
}

.aboutUs-div {
  color: #ffffff;
  font-size: 16px;
  margin-right: 100px;
  margin-top: 20px;
  text-align: left;
  font-family: "Oxygen";
}

.language {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  width: 200px;
  color: #ffffff;
  font-size: 16px;
}

.down-arrow {
  float: right;
}

.pinterest {
  margin-left: -20px;
}

.instagram {
  margin-right: 20px;
}
.twitter {
  margin-right: 20px;
}
.facebook {
  margin-right: 20px;
}
