.articles {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.add-article {
  text-decoration: none;
  color: #3d3c3c;
}

@media (max-width: 500px) {
  .articles {
    width: 100%;
    justify-content: space-around;
  }
}
