.badges-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.badges-title {
  text-align: left;
  color: #3d3c3c;
  margin-left: 20px;
}

.badges-image {
  width: 300px;
}
