/* .badges-container {
  display: flex;
  flex-direction: column;
} */

.badges-title {
  text-align: left;
  color: #3d3c3c;
  margin-left: 20px;
}

@media screen and (max-width: 500px) {
  .seemore-button {
    font-size: 12px;
    width: 150px;
    height: 30px;
  }
}
