.option {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.options-title {
  color: #42593e;
  margin: 5px;
}

.p-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 275px;
  max-height: 103px;
}

.p {
  color: #3d3c3c;
  font-size: 18.72px;
}

@media screen and (width: 375px) {
  .options-title {
    font-size: 6px;
  }
  .p {
    font-size: 6px;
  }
}
