.savings-overall-container {
  display: flex;
  flex-direction: column;
  align-content: top;
}
.savings-main-title {
  text-align: left;
  width: 100%;
  color: #3d3c3c;
}

.savings-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}
.savings-icon {
  width: 50px;
  height: auto;
}
.money-saved-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  width: 20vw;
}
.money-saved-integer {
  font-size: large;
  text-align: center;
}

#gauge-title {
  color: #42593e;
  font-weight: 550;
  margin-bottom: 15px;
}

.gauge-chart1 {
  width: 100%;
}

.inner-titles {
  color: #42593e;
  font-weight: 600;
  font-size: small;
}

.stat-saved-container {
  display: flex;
  flex-direction: column;
  width: 12vw;
  margin: 0 2vw;
  text-align: right;
}

.middle-column {
  height: 100%;
  justify-content: space-between;
}

.savings-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.water-saved-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0 2vw;
}

#view-details-button {
  margin: 5px auto;
}

.calculations {
  font-size: small;
}

@media screen and (max-width: 800px) {
  .stat-saved-container {
    width: 15vw;
  }
}

@media screen and (max-width: 500px) {
  .inner-titles,
  .calculations {
    font-size: x-small;
  }
  .savings-items-container {
    justify-content: space-between;
  }
  .savings-icon {
    width: 7vw;
  }
}

@media screen and (min-width: 1400px) {
  #view-details-button {
    margin: 20px auto;
  }
  .savings-overall-container {
    max-width: 710px;
  }
}
