.savings-overall-container {
  display: flex;
  flex-direction: column;
  align-content: top;
}
.savings-main-title {
  text-align: left;
  width: 100%;
  margin-left: 5%;
  color: #3d3c3c;
}
.savings-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}
.savings-icon {
  width: 30px;
  height: auto;
}
.money-saved-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.money-saved-container > h5 {
  color: #42593e;
}

.gauge {
  width: 100%;
}

.energy-saved-container {
  display: flex;
  flex-direction: column;
}
.energy-saved-container > h5 {
  color: #42593e;
}
.savings-watts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.savings-trees {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.water-saved-container {
  display: flex;
  flex-direction: column;
}
.water-saved-container > h5 {
  color: #42593e;
}
.savings-gallons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
