.userinformation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info-mask {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.user-left-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-right-div {
  color: #ffffff;
  margin-left: 5%;
  text-align: center;
  font-family: "Oxygen";
  font-size: 26px;
}
.user-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
}
.userinformation > h2 {
  color: #42593e;
  text-align: left;
  font-family: "Oxygen", sans-serif;
  font-weight: 900;
  padding-left: 5%;
}
.userinfo-image {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.user-friends {
  text-decoration: underline;
  color: #ff5c00;
}

.user-change {
  text-decoration: underline;
  color: #ff5c00;
}
.user-add-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #42593e;
  border: 0;
  width: 200px;
  height: 40px;
  -webkit-appearance: none;
  margin: 10px;
}

.user-view-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #42593e;
  border: 0;
  width: 200px;
  height: 40px;
  -webkit-appearance: none;
  /* margin: 30px auto; */
}

@media screen and (max-width: 750px) {
  .userinformation {
    display: block;
  }

  .user-right-div {
    color: #be8585;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    font-family: "Oxygen";
    font-size: 26px;
  }
}

@media screen and (max-width: 500px) {
  .user-add-button {
    font-size: 12px;
    width: 150px;
    height: 30px;
  }
  .user-view-button {
    font-size: 12px;
    width: 150px;
    height: 30px;
  }
}
