.article-cards {
  /* width: 80vw; */
  /* margin-top: 40px; */
  margin-left: 3%;
  margin-right: 5%;
  
}

.reading > h2 {
  color: #42593e;
  text-align: left;
  font-family: "Oxygen", sans-serif;
  font-weight: 900;
  padding-left: 5%;
}

.cards {
  display: flex;
  overflow-x: scroll;
}

.seemore-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #42593E;
  border: 0;
  width: 200px;
  height: 40px;
  -webkit-appearance: none;
  margin: 30px auto;
  }

  .article-hr {
    border: 2px solid black;
    width: 90%;
  }