.nav-bar {
  display: -webkit-flex;
  background-color: #42593e;
  height: 15vw;
  width: 100vw;
}

.nav-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-size: 3.75vw;
}

/* Icon is from  Becris flaticon.com*/
.nav-search-bar {
  height: 1vw;
  width: 7%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 12px;
  padding: 3px 60px;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  padding-right: 2%;
}

.links {
  font-family: "Oxygen", sans-serif;
  font-size: 35%;
}

.app-name {
  font-family: "Noto Serif", serif;
  margin-left: 5%;
}

/* Icon is from: "mavadee" flaticon.com */
.login-icon {
  height: auto;
  width: 5vw;
  padding-right: 10px;
}

.search-icon {
  height: 50px;
  width: 50px;
}

::placeholder {
  color: white;
  font-size: 10px;
}

@media screen and (max-width: 800px) {
  .nav-search-bar {
    padding: 3px 50px;
  }
}

@media screen and (max-width: 500px) {
  .nav-bar {
    width: 100%;
  }

  .nav-contents {
    padding-left: 1%;
    padding-right: 1%;
  }

  .app-name {
    font-size: smaller;
    margin-right: 3vw;
  }

  .links {
    font-size: 5px;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .search {
    width: 25%;
    padding-right: 0;
  }
  .nav-search-bar {
    width: 100%;
    height: 6px;
    font-size: 5px;
    padding: 1px;
  }

  .login-icon {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    padding-left: 5px;
  }

  .login-icon-link {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contents {
    max-width: 1200px;
    font-size: 50px;
    margin: 0 auto;
  }
  .login-icon {
    height: 70px;
    width: 70px;
  }
}
