.nav-bar {
  display: flex;
  background-color: #42593e;
  height: 15vw;
  width: 100vw;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-size: 3.75vw;
}

/* Icon is from  Becris flaticon.com*/
.nav-search-bar {
  height: 1vw;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 12px;
  padding: 5px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  width: 30%;
}

.links {
  font-family: "Oxygen", sans-serif;
  font-size: 35%;
}

.app-name {
  font-family: "Noto Serif", serif;
  margin-left: 5%;
}

/* Icon is from: "mavadee" flaticon.com */
.login-icon {
  height: auto;
  width: 5vw;
  padding-right: 10px;
}

.search-icon {
  height: 50px;
  width: 50px;
}

::placeholder {
  color: white;
  font-size: 10px;
}

@media only screen and (max-width: 500px) {
  .nav-bar {
    width: 100%;
  }

  .app-name {
    font-size: smaller;
    margin-right: 3vw;
  }

  .links {
    font-size: 5px;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .search {
    width: 25%;
  }
  .nav-search-bar {
    width: 100%;
    height: 1vw;
    font-size: 5px;
    padding: 5px;
  }

  .login-icon {
    height: 30px;
    width: 30px;
    margin: 0 auto;
  }

  .login-icon-link {
    margin: 0 auto;
  }
}
